@use "reset";
@use "variables" as var;
@use "base";

/* Header */

.admin-bar .main-header {
  margin-top: var(--wp-admin--admin-bar--height);
}

body.no-scroll {
  overflow: hidden;
}

.header-block {
  position: sticky;
  top: 0;
  z-index: 9;
  background: #f4fffb;
  @media (min-width: 1025px) {
    background-color: var.$clr-light-green;
  }
}

@media (min-width: 1024px) {
  .admin-bar .header-block {
    top: var(--wp-admin--admin-bar--height);
  }
}

.page:not(.page-id-22) .header-block,
.single-post .header-block {
  border-bottom: 1px solid #ccc;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  span {
    font-size: 24px;
    font-weight: var.$fw-bold;
    color: var.$clr-primary;
  }

  i {
    font-size: 1.5rem;

    &:hover {
      color: var.$clr-primary;
    }
  }

  button {
    all: unset;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .mobile-nav i {
    transition:
      transform 0.25s ease,
      opacity 0.2s ease;
  }

  .mobile-nav.active i {
    transform: rotate(90deg) scale(1);
  }

  .main-nav {
    position: fixed;
    background-color: #fff;
    box-shadow: var.$shadow;
    width: 65%;
    min-height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-999px);
    transition: 0.3s;
    z-index: 10;

    &.active {
      transform: translateX(0);
      background-color: var.$clr-primary;
    }

    &.active .navigation-logo {
      background-color: #fff;
      width: fit-content;
      padding: 0.5rem;
      margin-left: 20px;
      position: absolute;
      bottom: 10%;
    }
  }

  .search-header {
    #search-header-btn {
      // position: relative;
      // top: 3px;
    }

    i {
      font-size: 16px;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }

  .search-header-mobile {
    margin-left: auto;
    margin-right: 1rem;
    #search-header-btn {
    }

    i {
      // font-size: 16px;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .menu-primary-menu-container {
    .main-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 2.25rem;
      padding-left: 1.25rem;
    }
  }

  .main-menu {
    a {
      font-weight: var.$fw-medium;
      color: var.$clr-text-white;

      &:hover {
        color: var.$clr-secondary;
      }
    }

    li:not(:last-child) {
      margin-bottom: 0.85rem;
    }
  }

  .current-menu-item > a {
    color: var.$clr-secondary;
  }

  .nav-overlay {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: rgba(0, 0, 0, 0.5);
    z-index: 9; /* lower than your mobile nav, higher than page */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  @media (min-width: 1024px) {
    padding-inline: 40px;
    padding-block: 2rem;

    .mobile-nav {
      display: none;
    }

    .main-nav {
      all: unset;
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .navigation-logo {
      display: none;
    }

    #menu-primary-menu {
      padding-top: 0;
      padding-left: 0;
      display: flex;
      gap: 2.5rem;
    }

    .main-menu a {
      color: var.$clr-black;
      position: relative;
    }

    .main-menu a:hover::after {
      width: 100%;
      left: 0;
    }

    .main-menu a::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background-color: var.$clr-primary;
      transition:
        width 0.3s,
        left 0.3s;
      position: absolute;
      left: 50%;
      bottom: -4px;
    }
    .current-menu-item > a {
      &::after {
        width: 100%;
        left: 0;
      }
    }

    .main-menu li:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1025px) {
    padding-inline: 0;
  }
}

// .admin-bar .main-header {
//   top: 32px;
// }

.main-footer {
  background-color: var.$clr-light-green;

  .main-footer-inner {
    display: grid;
    gap: 2rem;
    padding: 1.25rem;
  }

  h4 {
    font-size: 14px;
    color: var.$clr-primary;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-col-1 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    p {
      font-weight: var.$fw-medium;
    }

    .footer-socials {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      position: relative;
      left: -5px;
    }

    .footer-socials i {
      font-size: 1.5rem;
      color: var.$clr-primary;

      &:hover {
        color: var.$clr-secondary;
      }
    }
  }

  .footer-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer-logo span {
    font-size: 24px;
    font-weight: var.$fw-bold;
    color: var.$clr-primary;
  }

  .footer-col-2 {
    li:not(:last-child) {
      // margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
      color: var.$clr-black;
      font-weight: var.$fw-medium;
      font-size: 12px;
    }
  }

  .footer-col-3 {
    .working-hours {
      font-size: 12px;
      color: var.$clr-black;
      font-weight: var.$fw-medium;
    }

    .day {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0.5rem;
    }
  }

  .footer-col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    a:first-of-type {
      margin-bottom: 1rem;
    }
  }

  .footer-copyright {
    text-align: center;
    font-size: 12px;
    opacity: 0.4;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    /* padding-top: 1rem; */
    padding-block: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: 1024px) {
    .main-footer-inner {
      grid-template-columns: 275px 120px repeat(2, 1fr);
      padding-inline: 40px;
    }

    .footer-col-4 {
      align-items: flex-start;
    }

    .footer-copyright {
      padding-block: 2rem;
    }
  }

  @media (min-width: 1140px) {
    .main-footer-inner {
      grid-template-columns: 2fr 1fr 2fr 1fr;
      max-width: 1040px;
      margin-inline: auto;
      padding-inline: 0;
    }
  }
}

/* 
Generic Intro
*/

.generic-intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  // background: var.$clr-light-green;

  span {
    font-size: 1rem;
    font-weight: var.$fw-medium;
    color: var.$clr-secondary;
    text-transform: uppercase;
  }

  @media (min-width: 1025px) {
    h2 {
      text-wrap-style: pretty;
      max-width: 690px;
      margin-inline: auto;
    }

    p {
      max-width: 690px;
      margin-inline: auto;
    }
  }
}

@media (min-width: 1025px) {
  .generic-intro {
    &.space-top {
      padding-top: 80px;
      padding-bottom: 0 !important;
    }

    &.space-bottom {
      padding-top: 0 !important;
      padding-bottom: 80px;
    }
  }
}

/* 
Hero Section
*/

.front-page-hero {
  background-color: var.$clr-primary;
  border-radius: 40px;
  box-shadow: 0 0 0 20px #f4fffb;

  h1,
  h2,
  h3 {
    // text-align: left;
    color: var.$clr-white;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    span {
      font-size: 1rem;
      font-weight: var.$fw-medium;
      text-transform: uppercase;
      color: var.$clr-secondary;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      background: url(http://dentish.local/wp-content/uploads/2026/02/hero-desktop-01.webp) no-repeat right bottom;
      background-size: contain;
    }
  }

  .hero-content-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
    text-align: center;
    padding-inline: 20px;
  }

  a {
    display: inline-block;
  }

  ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    align-self: flex-start;
    color: #fff;

    li {
      position: relative;
      padding-left: 1.75rem;
      font-size: 12px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 9px; /* position vertically at the middle */
        transform: translateY(-50%); /* adjust to center exactly */
        left: 0;
        background: url("http://dentish.local/wp-content/uploads/2025/12/list-icon.svg") no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media (min-width: 1024px) {
    padding-top: 0;
    margin-inline: 40px;
    box-shadow: unset;
    margin-bottom: 80px;

    .hero-content-col-1 {
      max-width: 515px;
      padding-block: 80px;
      padding-left: 40px;
      align-items: flex-start;
      text-align: left;

      p {
        text-align: left;
      }
    }

    .hero-content-col-2 {
      display: none;
    }
  }

  @media (min-width: 1025px) {
    // margin-inline: 0;
    margin-bottom: 0;

    .hero-content-col-1 {
      padding-left: 80px;
    }
  }
}

.home-hero-bg {
  @media (min-width: 1025px) {
    background-color: var.$clr-light-green;

    .front-page-hero {
      margin-bottom: 0;
    }
  }
}

.not-hero-bg {
  @media (min-width: 1025px) {
    padding-block: 80px;
  }
}

.not-hero {
  .hero-content {
    gap: 1rem;

    @media (min-width: 1024px) {
      background: url(http://dentish.local/wp-content/uploads/2025/12/online-register.webp) no-repeat right center;
    }
  }

  .hero-content-col-1 {
    @media (min-width: 1024px) {
      align-items: flex-start;
    }
  }

  a {
    align-self: flex-start;
    position: relative;
    z-index: 2;
    min-width: 128px;
  }

  img {
    margin-top: -3.5rem;
  }

  @media (min-width: 1024px) {
    padding-bottom: 0;
  }
}

.block-placeholder {
  padding: 2rem;
  background: #f0f0f0;
  text-align: center;
  font-size: 1.5rem;
  color: var.$clr-primary;
}

/* Hero image */

.wp-block-myblocks-generic-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.wp-block-myblocks-generic-image img {
  max-width: 100%;
  height: auto;
}

.image-mobile {
  display: none;
}

/* Two Column Layout */

.wp-block-myblocks-two-column-layout a {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
}

.two-column-layout {
  .section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 1025px) {
      gap: 3rem;
    }
  }

  .two-column-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;

    @media (min-width: 1024px) {
      align-items: flex-start;
      text-align: left;
    }

    span {
      font-size: 1rem;
      font-weight: var.$fw-medium;
      color: var.$clr-secondary;
      text-transform: uppercase;
    }
  }

  img {
    height: 300px;
    object-fit: contain;

    @media (min-width: 1024px) {
      height: auto;
    }
  }

  @media (min-width: 768px) {
    .section-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .section-container.reverse-columns {
      .two-column-content {
        order: 2;
      }
    }
  }
}

/* Services */

.our-services {
  .our-services-intro {
    margin-bottom: 2.5rem;

    @media (min-width: 1025px) {
      max-width: 630px;
      margin-inline: auto;

      h2 {
        max-width: 430px;
        text-wrap-style: pretty;
      }
    }
  }

  .services-hero-img {
    display: none;

    @media (min-width: 1025px) {
      display: block;

      img {
        margin: auto;
      }
    }
  }

  .our-services-intro,
  .service-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .our-services-list {
    display: flex;
    gap: 11px;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 1025px) {
      margin-top: -100px;
    }
  }

  .service-item {
    max-width: 260px;
    // margin-inline: auto;
    box-shadow: var.$drop-shadow;
    padding-inline: 1rem;
    padding-block: 2rem;
    background: var.$clr-white;
    border-radius: var.$rounded-corners;
  }
  .service-item p {
    color: var.$clr-primary;
    font-size: 10px;
  }

  .service-item a {
    font-size: 12px;
    font-weight: var.$fw-extrabold;
    position: relative;
    padding-right: 18px;

    &::after {
      content: "\f061";
      font-family: "FontAwesome";
      position: absolute;
      right: 0;
      top: 9px;
      transform: translateY(-50%);
      font-size: 12px;
      transition: right 0.3s ease;
    }

    &:hover::after {
      right: -5px;
    }
  }
}

.page:not(.page-id-22) .our-services .services-hero-img {
  display: block;
}

.page:not(.page-id-22) .our-services-list {
  @media (min-width: 1025px) {
    margin-top: 0;
  }
}

/* Blog Section */

.page:not(.page-id-22) .blog-container {
  background: var.$clr-white;
}

@media (min-width: 1024px) {
  .blog-container {
    padding-bottom: 60px;
  }
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 11px;

  padding-bottom: 40px;
  max-width: 750px;
  margin-inline: auto;

  .blog-item {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    margin-inline: auto;
    gap: 1rem;
    box-shadow: 0px 1px 10px 0px rgba(188, 188, 188, 0.25);
    padding: 1rem;
    border-radius: 10px;
    background-color: var.$clr-white;

    a {
      margin-right: auto;
    }

    .post-date {
      font-size: 10px;
      font-weight: var.$fw-bold;
    }
  }

  @media (min-width: 1024px) {
    max-width: 1040px;
    // padding-inline: 40px;
  }

  @media (min-width: 1025px) {
    padding-top: 2rem;

    // padding-inline: 0;
  }

  @media (min-width: 1120px) {
    padding-inline: 0;
  }

  .blog-item-skeleton {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    margin-inline: auto;
    gap: 1rem;
    box-shadow: 0px 1px 10px 0px rgba(188, 188, 188, 0.25);
    padding: 1rem;
    border-radius: 10px;
    background-color: var.$clr-white;

    .skeleton-block {
      background: #e0e0e0;
      border-radius: 4px;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        animation: skeleton-wave 1.5s infinite;
      }
    }

    .skeleton-image {
      width: 100%;
      aspect-ratio: 16/9;
    }

    .skeleton-date {
      width: 80px;
      height: 10px;
    }

    .skeleton-title {
      width: 90%;
      height: 20px;
    }

    .skeleton-link {
      width: 70px;
      height: 16px;
    }
  }
}

@keyframes skeleton-wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.blog-see-more {
  display: block;
  margin-inline: auto;
  width: fit-content;
  min-width: 130px;
  background: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: block;
  }
}

@media (max-width: 782px) {
  .admin-bar .main-header .main-nav.active {
    top: 46px;
  }
}

/* Pricing Card Block */

.pricing-container {
  display: flex;
  gap: 1rem;
  padding-inline: var(--spacing-page-sides);
  padding-bottom: 40px;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 1025px) {
    padding-inline: 0;
    max-width: 1040px;
    margin-inline: auto;
  }
}

.pricing-card {
  box-shadow: var.$drop-shadow;
  padding: 2rem;
  border-radius: var.$rounded-corners;
  background: var.$clr-primary;
  color: var.$clr-white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  max-width: 336px;
  margin-inline: auto;

  .price-label {
    font-weight: var.$fw-bold;
    font-size: 32px;
  }

  h4 {
    color: var.$clr-white;
    font-weight: var.$fw-bold;
    text-wrap: auto;
    line-height: 1.3;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

    li {
      position: relative;
      padding-left: 1.75rem;
      margin-bottom: 12px;
      font-size: 12px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 9px; /* position vertically at the middle */
        transform: translateY(-50%); /* adjust to center exactly */
        left: 0;
        background: url("http://dentish.local/wp-content/uploads/2025/12/list-icon.svg") no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
      }
    }
  }

  @media (min-width: 768px) {
    margin-inline: initial;
  }
}

/* Testimonials Carousel - Swiper.js */

.testimonials-block {
  padding-inline: var(--spacing-page-sides);
  overflow: hidden;
  background: var.$clr-light-green;
  padding-bottom: var(--section-pb);

  @media (min-width: 768px) {
    padding-inline: 40px;
  }

  @media (min-width: 1025px) {
    padding-top: 2rem;
  }

  @media (min-width: 1120px) {
    padding-inline: 0;
    max-width: 1040px;
    margin-inline: auto;
  }
}

.testimonials-swiper {
  position: relative;
  padding-bottom: 60px !important;

  @media (min-width: 1024px) {
    padding-bottom: 0px !important;
  }
}

// Individual testimonial card
.testimonial-card {
  display: grid;
  grid-template-columns: 110px 1fr;
  border-radius: var.$rounded-corners;
  overflow: hidden;
  background: var.$clr-white;
  box-shadow: var.$drop-shadow;
  height: 100%;
}

// Quote section (dark blue)
.testimonial-card__quote-section {
  background: var.$clr-primary;
  padding: 10px;
  color: var.$clr-text-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.testimonial-card__quote {
  line-height: 1.6;
  margin: 0 0 20px 0;
  font-size: 10px;
}

.testimonial-card__name {
  font-weight: var.$fw-bold;
  margin: 0 0 3px 0;
  font-size: 12px;
}

.testimonial-card__location {
  color: #98a0be;
  font-size: 12px;
  font-weight: var.$fw-bold;
}

// Photo section (white)
.testimonial-card__photo-section {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var.$clr-white;
  order: -1;
  height: 100%;
}

.testimonial-card__image {
  object-fit: cover;
  height: 100%;
}

.testimonial-card__image-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Swiper pagination (dots)
.testimonials-swiper .swiper-pagination {
  bottom: 10px;
  position: absolute;
}

.testimonials-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ccc;
  opacity: 1;

  &:hover {
    // background: darken(#ccc, 15%);
  }
}

.testimonials-swiper .swiper-pagination-bullet-active {
  background: var.$clr-primary !important;
}

// Editor styles
.testimonials-editor-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wp-block-myblocks-testimonial-card {
  flex: 0 0 calc(50% - 10px);
  min-width: 300px;
}

// Generic Content Block

.generic-content {
  p {
    font-size: 16px;

    @media (min-width: 1025px) {
      font-size: 18px;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
    max-width: 30ch;
    margin-inline: auto;
    text-align: center;
  }

  .wp-block-post-featured-image img {
    margin-bottom: 2rem;
    max-width: 700px;
    margin-inline: auto;
  }
  h2,
  h3,
  h4,
  p {
    margin-bottom: 1rem;
  }

  h2 + p,
  h3 + p {
    margin-bottom: 1rem;
  }

  ul {
    margin-top: 0;
    padding-left: 20px;
    font-size: 16px;
    @media (min-width: 1025px) {
      font-size: 18px;
    }
  }
}

.page-id-31 .generic-intro {
  // margin-bottom: 2rem;
}

// Search Overlay

body.body-no-scroll {
  overflow: hidden;
}

.search-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 26, 120, 0.95);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 9999;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .search-container {
    max-width: 900px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
    position: relative;
  }

  .search-input {
    padding-block: 10px;
    padding-inline: 0;
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1);
    font-size: 2rem;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #fff;
      opacity: 0.7;
    }
  }

  .btn-search-close,
  .btn-search {
    all: unset;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }

  .btn-search {
    position: absolute;
    right: 0;
    bottom: 13px;
  }

  .btn-search-close {
    position: absolute;
    right: -40px;
    top: -16px;
  }

  @media (max-width: 1024px) {
    .search-container {
      max-width: 700px;
      padding-inline: 2rem;
    }

    .search-input {
      font-size: 1.5rem;
    }

    .btn-search {
      right: 2rem;
    }

    .btn-search-close {
      right: 0.5rem;
    }
  }
}

.search-results-container {
  max-width: 900px;
  margin-inline: auto;
  margin-top: 2rem;
  color: #fff;

  @media (max-width: 1024px) {
    max-width: 700px;
    padding-inline: 2rem;
  }
}

// Search results

.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.active {
    box-shadow: 0px 1px 10px 0px rgba(188, 188, 188, 0.25);
    padding-inline: 1rem;
    padding-block: 2rem;
    background: #fff !important;
    border-radius: 20px;
  }

  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    color: var.$clr-black;
  }

  .rendered-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  @media (max-width: 768px) {
    max-height: 600px;
    overflow-y: scroll;

    .rendered-results {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .rendered-results {
      grid-template-columns: 1fr;
    }
  }
}

// Skeleton loader for search results

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1.5s linear infinite alternate;
}
.skeleton-title {
  width: 60%;
  height: 24px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.skeleton-text {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
