@use "reset";
@use "variables" as var;
@use "base";

/* Header */

.admin-bar .main-header {
  margin-top: var(--wp-admin--admin-bar--height);
}

body.no-scroll {
  overflow: hidden;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  span {
    font-size: 24px;
    font-weight: var.$fw-bold;
    color: var.$clr-primary;
  }

  i {
    font-size: 1.5rem;

    &:hover {
      color: var.$clr-primary;
    }
  }

  button {
    all: unset;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .mobile-nav i {
    transition:
      transform 0.25s ease,
      opacity 0.2s ease;
  }

  .mobile-nav.active i {
    transform: rotate(90deg) scale(1);
  }

  .main-nav {
    position: fixed;
    background-color: #fff;
    box-shadow: var.$shadow;
    width: 65%;
    min-height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-999px);
    transition: 0.3s;
    z-index: 10;

    &.active {
      transform: translateX(0);
      background-color: var.$clr-primary;
    }

    &.active .navigation-logo {
      background-color: #fff;
      width: fit-content;
      padding: 0.5rem;
      margin-left: 20px;
      position: absolute;
      bottom: 10%;
    }
  }

  .menu-primary-menu-container {
    .main-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 2.25rem;
      padding-left: 1.25rem;
    }
  }

  .main-menu {
    a {
      font-weight: var.$fw-medium;
      color: var.$clr-text-white;

      &:hover {
        color: var.$clr-secondary;
      }
    }

    li:not(:last-child) {
      margin-bottom: 0.85rem;
    }
  }

  .current-menu-item > a {
    color: var.$clr-secondary;
  }

  .nav-overlay {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: rgba(0, 0, 0, 0.5);
    z-index: 9; /* lower than your mobile nav, higher than page */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
}

// .admin-bar .main-header {
//   top: 32px;
// }

.main-footer {
  padding: 1.25rem;
  display: grid;
  gap: 2rem;

  h4 {
    font-size: 14px;
    color: var.$clr-primary;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-col-1 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    p {
      font-weight: var.$fw-medium;
    }

    .footer-socials {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      position: relative;
      left: -5px;
    }

    .footer-socials i {
      font-size: 1.5rem;
      color: var.$clr-primary;

      &:hover {
        color: var.$clr-secondary;
      }
    }
  }

  .footer-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer-logo span {
    font-size: 24px;
    font-weight: var.$fw-bold;
    color: var.$clr-primary;
  }

  .footer-col-2 {
    li:not(:last-child) {
      // margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
      color: var.$clr-black;
      font-weight: var.$fw-medium;
      font-size: 12px;
    }
  }

  .footer-col-3 {
    .working-hours {
      font-size: 12px;
      color: var.$clr-black;
      font-weight: var.$fw-medium;
    }

    .day {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0.5rem;
    }
  }

  .footer-col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    a:first-of-type {
      margin-bottom: 1rem;
    }
  }

  .footer-copyright {
    text-align: center;
    font-size: 12px;
    opacity: 0.4;
  }
}

/* 
Generic Intro
*/

.generic-intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  background: var.$clr-light-green;

  span {
    font-size: 1rem;
    font-weight: var.$fw-medium;
    color: var.$clr-secondary;
    text-transform: uppercase;
  }
}

/* 
Hero Section
*/

.front-page-hero {
  background-color: var.$clr-primary;
  border-radius: 40px;

  h1,
  h2,
  h3 {
    text-align: center;
    color: var.$clr-white;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: var.$clr-white;
    text-align: center;
    padding-inline: 20px;

    span {
      font-size: 1rem;
      font-weight: var.$fw-medium;
      text-transform: uppercase;
      color: var.$clr-secondary;
    }
  }

  a {
    display: inline-block;
  }

  ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-top: 10px;

    li {
      position: relative;
      padding-left: 1.75rem;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 13px; /* position vertically at the middle */
        transform: translateY(-50%); /* adjust to center exactly */
        left: 0;
        background: url("http://dentish.local/wp-content/uploads/2025/12/list-icon.svg") no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.not-hero {
  .hero-content {
    gap: 1rem;
  }

  a {
    align-self: flex-start;
    position: relative;
    z-index: 2;
    min-width: 128px;
  }

  img {
    margin-top: -3.5rem;
  }
}

.block-placeholder {
  padding: 2rem;
  background: #f0f0f0;
  text-align: center;
  font-size: 1.5rem;
  color: var.$clr-primary;
}

/* Hero image */

.wp-block-myblocks-generic-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.wp-block-myblocks-generic-image img {
  max-width: 100%;
  height: auto;
}

.image-mobile {
  display: none;
}

/* Two Column Layout */

.wp-block-myblocks-two-column-layout a {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
}

.two-column-layout {
  .section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .two-column-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    span {
      font-size: 1rem;
      font-weight: var.$fw-medium;
      color: var.$clr-secondary;
      text-transform: uppercase;
    }
  }

  img {
    height: 300px;
    object-fit: contain;
  }

  @media (min-width: 768px) {
    .section-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .section-container.reverse-columns {
      .two-column-content {
        order: 2;
      }
    }
  }
}

/* Services */

.our-services {
  .our-services-intro {
    margin-bottom: 2.5rem;
  }

  .our-services-intro,
  .service-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .our-services-list {
    display: flex;
    gap: 11px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service-item {
    max-width: 260px;
    margin-inline: auto;
    box-shadow: var.$drop-shadow;
    padding-inline: 1rem;
    padding-block: 2rem;
    background: var.$clr-white;
    border-radius: var.$rounded-corners;
  }
  .service-item p {
    color: var.$clr-primary;
    font-size: 10px;
  }

  .service-item a {
    font-size: 12px;
    font-weight: var.$fw-extrabold;
    position: relative;
    padding-right: 18px;

    &::after {
      content: "\f061";
      font-family: "FontAwesome";
      position: absolute;
      right: 0;
      top: 9px;
      transform: translateY(-50%);
      font-size: 12px;
      transition: right 0.3s ease;
    }

    &:hover::after {
      right: -5px;
    }
  }
}

/* Blog Section */

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 11px;
  margin-top: 40px;

  .blog-item {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    margin-inline: auto;
    gap: 1rem;
    box-shadow: 0px 1px 10px 0px rgba(188, 188, 188, 0.25);
    padding: 1rem;
    border-radius: 10px;

    a {
      margin-right: auto;
    }

    .post-date {
      font-size: 10px;
      font-weight: var.$fw-bold;
    }
  }
}

@media (max-width: 767px) {
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: block;
  }
}

@media (max-width: 782px) {
  .admin-bar .main-header .main-nav.active {
    top: 46px;
  }
}
