/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Block Editor */
.editor-styles-wrapper.post-type-post h2,
.editor-styles-wrapper.post-type-post h3,
.editor-styles-wrapper.post-type-post p {
  margin-block: 1rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Colors */
/* Typography */
/* Utilities */
:root {
  --section-spacing: 40px 20px;
  --section-pt: 40px;
  --section-pb: 40px;
  --spacing-page-sides: 20px;
}

@media (min-width: 768px) {
  :root {
    --section-spacing: 80px 40px;
    --section-pt: 80px;
    --section-pb: 80px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: #001a78;
}

h1 {
  font-size: clamp(2rem, 1.5229rem + 1.5267vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 1.0229rem + 1.5267vw, 2rem);
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #001a78;
  transition: color 0.3s ease;
}

a:hover {
  color: #001a78;
}

p {
  font-size: 14px;
}

.primary-btn {
  padding: 10px 20px;
  border: 2px solid #001a78;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  color: #001a78;
  transition: all 0.3s ease;
  min-width: 231px;
  text-align: center;
}
.primary-btn i {
  margin-right: 5px;
}
.primary-btn:hover {
  background-color: #001a78;
  color: #fff;
}

.secondary-btn {
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 10px;
  background: #00ce9c;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  min-width: 231px;
  text-align: center;
}
.secondary-btn i {
  margin-right: 5px;
}
.secondary-btn:hover {
  background-color: #fff;
  color: #00ce9c;
  border-color: #00ce9c;
}

a.arrow-btn {
  font-size: 12px;
  font-weight: 800;
  position: relative;
  padding-right: 18px;
}
a.arrow-btn::after {
  content: "\f061";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 9px;
  transform: translateY(-50%);
  font-size: 12px;
  transition: right 0.3s ease;
}
a.arrow-btn:hover::after {
  right: -5px;
}

.section-spacing {
  padding: var(--section-spacing);
}

.section-spacing.not-hero {
  padding-inline: 0;
}

.section-pt {
  padding-top: var(--section-pt);
}

.section-pb {
  padding-bottom: var(--section-pb);
}

.section-spacing-sides {
  padding-inline: var(--spacing-page-sides);
}

.bg-primary {
  background-color: #001a78;
}

.bg-light-green {
  background-color: #f4fffb;
}

.bg-white {
  background-color: #fff;
}

span.label {
  font-size: 1rem;
  font-weight: 500;
  color: #00ce9c;
  text-transform: uppercase;
}

/* Header */
.admin-bar .main-header {
  margin-top: var(--wp-admin--admin-bar--height);
}

body.no-scroll {
  overflow: hidden;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
}
.main-header a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-header span {
  font-size: 24px;
  font-weight: 700;
  color: #001a78;
}
.main-header i {
  font-size: 1.5rem;
}
.main-header i:hover {
  color: #001a78;
}
.main-header button {
  all: unset;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.main-header .mobile-nav i {
  transition: transform 0.25s ease, opacity 0.2s ease;
}
.main-header .mobile-nav.active i {
  transform: rotate(90deg) scale(1);
}
.main-header .main-nav {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 65%;
  min-height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-999px);
  transition: 0.3s;
  z-index: 10;
}
.main-header .main-nav.active {
  transform: translateX(0);
  background-color: #001a78;
}
.main-header .main-nav.active .navigation-logo {
  background-color: #fff;
  width: fit-content;
  padding: 0.5rem;
  margin-left: 20px;
  position: absolute;
  bottom: 10%;
}
.main-header .menu-primary-menu-container .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 2.25rem;
  padding-left: 1.25rem;
}
.main-header .main-menu a {
  font-weight: 500;
  color: #fff;
}
.main-header .main-menu a:hover {
  color: #00ce9c;
}
.main-header .main-menu li:not(:last-child) {
  margin-bottom: 0.85rem;
}
.main-header .current-menu-item > a {
  color: #00ce9c;
}
.main-header .nav-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.5);
  z-index: 9; /* lower than your mobile nav, higher than page */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.main-footer {
  padding: 1.25rem;
  display: grid;
  gap: 2rem;
}
.main-footer h4 {
  font-size: 14px;
  color: #001a78;
  margin-bottom: 10px;
}
.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-footer .footer-col-1 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.main-footer .footer-col-1 p {
  font-weight: 500;
}
.main-footer .footer-col-1 .footer-socials {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  left: -5px;
}
.main-footer .footer-col-1 .footer-socials i {
  font-size: 1.5rem;
  color: #001a78;
}
.main-footer .footer-col-1 .footer-socials i:hover {
  color: #00ce9c;
}
.main-footer .footer-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-footer .footer-logo span {
  font-size: 24px;
  font-weight: 700;
  color: #001a78;
}
.main-footer .footer-col-2 a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 12px;
}
.main-footer .footer-col-3 .working-hours {
  font-size: 12px;
  color: #000;
  font-weight: 500;
}
.main-footer .footer-col-3 .day {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}
.main-footer .footer-col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer .footer-col-4 a:first-of-type {
  margin-bottom: 1rem;
}
.main-footer .footer-copyright {
  text-align: center;
  font-size: 12px;
  opacity: 0.4;
}

/* 
Generic Intro
*/
.generic-intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.generic-intro span {
  font-size: 1rem;
  font-weight: 500;
  color: #00ce9c;
  text-transform: uppercase;
}

/* 
Hero Section
*/
.front-page-hero {
  background-color: #001a78;
  border-radius: 40px;
  box-shadow: 0 0 0 20px #f4fffb;
}
.front-page-hero h1,
.front-page-hero h2,
.front-page-hero h3 {
  text-align: center;
  color: #fff;
}
.front-page-hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
  text-align: center;
  padding-inline: 20px;
}
.front-page-hero .hero-content span {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #00ce9c;
}
.front-page-hero a {
  display: inline-block;
}
.front-page-hero ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.front-page-hero ul li {
  position: relative;
  padding-left: 1.75rem;
}
.front-page-hero ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px; /* position vertically at the middle */
  transform: translateY(-50%); /* adjust to center exactly */
  left: 0;
  background: url("http://dentish.local/wp-content/uploads/2025/12/list-icon.svg") no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}
.front-page-hero ul li:not(:last-child) {
  margin-bottom: 12px;
}

.not-hero .hero-content {
  gap: 1rem;
}
.not-hero a {
  align-self: flex-start;
  position: relative;
  z-index: 2;
  min-width: 128px;
}
.not-hero img {
  margin-top: -3.5rem;
}

.block-placeholder {
  padding: 2rem;
  background: #f0f0f0;
  text-align: center;
  font-size: 1.5rem;
  color: #001a78;
}

/* Hero image */
.wp-block-myblocks-generic-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.wp-block-myblocks-generic-image img {
  max-width: 100%;
  height: auto;
}

.image-mobile {
  display: none;
}

/* Two Column Layout */
.wp-block-myblocks-two-column-layout a {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
}

.two-column-layout .section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.two-column-layout .two-column-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.two-column-layout .two-column-content span {
  font-size: 1rem;
  font-weight: 500;
  color: #00ce9c;
  text-transform: uppercase;
}
.two-column-layout img {
  height: 300px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .two-column-layout .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .two-column-layout .section-container.reverse-columns .two-column-content {
    order: 2;
  }
}

/* Services */
.our-services .our-services-intro {
  margin-bottom: 2.5rem;
}
.our-services .our-services-intro,
.our-services .service-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.our-services .our-services-list {
  display: flex;
  gap: 11px;
  justify-content: center;
  flex-wrap: wrap;
}
.our-services .service-item {
  max-width: 260px;
  margin-inline: auto;
  box-shadow: 0px 1px 10px 0px rgba(188, 188, 188, 0.25);
  padding-inline: 1rem;
  padding-block: 2rem;
  background: #fff;
  border-radius: 20px;
}
.our-services .service-item p {
  color: #001a78;
  font-size: 10px;
}
.our-services .service-item a {
  font-size: 12px;
  font-weight: 800;
  position: relative;
  padding-right: 18px;
}
.our-services .service-item a::after {
  content: "\f061";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 9px;
  transform: translateY(-50%);
  font-size: 12px;
  transition: right 0.3s ease;
}
.our-services .service-item a:hover::after {
  right: -5px;
}

/* Blog Section */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 11px;
  background: #f4fffb;
  padding-bottom: 40px;
}
.blog-grid .blog-item {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  margin-inline: auto;
  gap: 1rem;
  box-shadow: 0px 1px 10px 0px rgba(188, 188, 188, 0.25);
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
}
.blog-grid .blog-item a {
  margin-right: auto;
}
.blog-grid .blog-item .post-date {
  font-size: 10px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: block;
  }
}
@media (max-width: 782px) {
  .admin-bar .main-header .main-nav.active {
    top: 46px;
  }
}
/* Pricing Card Block */
.pricing-container {
  display: grid;
  gap: 1rem;
}

.pricing-container {
  padding-inline: var(--spacing-page-sides);
}

.pricing-card {
  box-shadow: 0px 1px 10px 0px rgba(188, 188, 188, 0.25);
  padding: 2rem;
  border-radius: 20px;
  background: #001a78;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  max-width: 340px;
  margin-inline: auto;
}
.pricing-card .price-label {
  font-weight: 700;
  font-size: 32px;
}
.pricing-card h4 {
  color: #fff;
  font-weight: 700;
  text-wrap: auto;
  line-height: 1.3;
}
.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.pricing-card ul li {
  position: relative;
  padding-left: 1.75rem;
  margin-bottom: 12px;
}
.pricing-card ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px; /* position vertically at the middle */
  transform: translateY(-50%); /* adjust to center exactly */
  left: 0;
  background: url("http://dentish.local/wp-content/uploads/2025/12/list-icon.svg") no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}

/*# sourceMappingURL=main.css.map */
