@use "./variables" as var;

body {
  font-family: var.$ff-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var.$fw-extrabold;
}

h1 {
  font-size: clamp(2rem, 1.5229rem + 1.5267vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 1.0229rem + 1.5267vw, 2rem);
}

h3 {
  font-size: 1.125rem;
  font-weight: var.$fw-semibold;
}

a:hover {
  color: var.$clr-primary;
}

p {
  font-size: 14px;
}

.primary-btn {
  padding: 10px 20px;
  border: 2px solid var.$clr-primary;
  border-radius: 10px;
  font-weight: var.$fw-bold;
  text-decoration: none;
  color: var.$clr-primary;
  transition: all 0.3s ease;
  min-width: 231px;
  text-align: center;

  i {
    margin-right: 5px;
  }

  &:hover {
    background-color: var.$clr-primary;
    color: var.$clr-white;
  }
}

.secondary-btn {
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 10px;
  background: var.$clr-secondary;
  font-weight: var.$fw-bold;
  text-decoration: none;
  color: var.$clr-white;
  transition: all 0.3s ease;
  min-width: 231px;
  text-align: center;

  i {
    margin-right: 5px;
  }

  &:hover {
    background-color: var.$clr-white;
    color: var.$clr-secondary;
    border-color: var.$clr-secondary;
  }
}

.section-spacing {
  padding: 80px 0;
}

.section-pt {
  padding-top: 80px;
}
.section-pb {
  padding-bottom: 80px;
}
