/* Colors */
$clr-primary: #001a78;
$clr-secondary: #00ce9c;
$clr-text-color: #000;
$clr-text-white: #fff;
$clr-black: #000;
$clr-white: #fff;
/* Typography */
$ff-primary: "Roboto", sans-serif;

$fw-thin: 100; // Hairline
$fw-extralight: 200; // Ultra Light
$fw-light: 300;
$fw-regular: 400; // Normal
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800; // Ultra Bold
$fw-black: 900; // Heavy

/* Utilities */

$shadow: 0 3px 10px rgb(0 0 0 / 0.2);
